body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    height: 500px;
    width: 100%;
}
/* Other styles... */



.filter-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}



.filter-container select,
.filter-container input, button {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    
}

#reset-button {
    background-color: #0471e6;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#reset-button:hover {
    background-color: #0056b3;


}

/* Media Query for larger screens */
@media (min-width: 768px) {
    .filter-container {
        flex-direction: row; /* Horizontal layout on larger screens */
        justify-content: space-between;
    }

}